@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JetBrains Mono'), url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('JetBrains Mono'), url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700') format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans SC'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400') format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Sans SC'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500') format('woff2');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans SC'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700') format('woff2');
}
